:root {
  --color-red-50: #4d2930;
  --color-red-100: #6e3a44;
  --color-red-200: #8f4c59;
  --color-red-300: #b86172;
  --color-red-400: #e57a8f;
  --color-red-500: #ff879f;
  --color-red-600: #ff9baf;
  --color-red-700: #ffafbf;
  --color-red-800: #ffc3cf;
  --color-red-900: #ffd7df;
  --color-red-950: #ffe7ec;

  --color-orange-50: #332216;
  --color-orange-100: #553825;
  --color-orange-200: #805538;
  --color-orange-300: #aa714b;
  --color-orange-400: #d48d5d;
  --color-orange-500: #ffa970;
  --color-orange-600: #ffb788;
  --color-orange-700: #ffc6a0;
  --color-orange-800: #ffd4b7;
  --color-orange-900: #ffe2cf;
  --color-orange-950: #ffeee2;

  --color-yellow-50: #3d3d21;
  --color-yellow-100: #6b6b3a;
  --color-yellow-200: #91914e;
  --color-yellow-300: #b5b561;
  --color-yellow-400: #d6d673;
  --color-yellow-500: #f0f081;
  --color-yellow-600: #f2f296;
  --color-yellow-700: #f5f5ab;
  --color-yellow-800: #f7f7c0;
  --color-yellow-900: #fafad5;
  --color-yellow-950: #fcfce6;

  --color-green-50: #1b2f23;
  --color-green-100: #2c4f3b;
  --color-green-200: #437758;
  --color-green-300: #599e75;
  --color-green-400: #6fc593;
  --color-green-500: #85edb0;
  --color-green-600: #99f0bd;
  --color-green-700: #aef3ca;
  --color-green-800: #c2f6d7;
  --color-green-900: #d6f9e5;
  --color-green-950: #e7fbef;

  --color-sky-50: #1a2f30;
  --color-sky-100: #2c4e51;
  --color-sky-200: #427579;
  --color-sky-300: #579ba1;
  --color-sky-400: #6dc2ca;
  --color-sky-500: #83e9f2;
  --color-sky-600: #98edf4;
  --color-sky-700: #acf0f6;
  --color-sky-800: #c1f4f8;
  --color-sky-900: #d6f8fb;
  --color-sky-950: #e6fbfc;

  --color-pink-50: #302230;
  --color-pink-100: #503950;
  --color-pink-200: #785578;
  --color-pink-300: #a071a0;
  --color-pink-400: #c88ec8;
  --color-pink-500: #f0aaf0;
  --color-pink-600: #f2b8f2;
  --color-pink-700: #f5c6f5;
  --color-pink-800: #f7d4f7;
  --color-pink-900: #fae3fa;
  --color-pink-950: #fceefc;

  --color-purple-50: #f5ebfd;
  --color-purple-100: #eeddfc;
  --color-purple-200: #664d7b;
  --color-purple-300: #8767a3;
  --color-purple-400: #a980cc;
  --color-purple-500: #cb9af5;
  --color-purple-600: #d4abf7;
  --color-purple-700: #dcbcf8;
  --color-purple-800: #e5ccfa;
  --color-purple-900: #eeddfc;
  --color-purple-950: #f5ebfd;

  --color-grayscale-0: #0c0d0d;
  --color-grayscale-50: #252626;
  --color-grayscale-100: #3e4040;
  --color-grayscale-200: #5e6060;
  --color-grayscale-300: #7d7f7f;
  --color-grayscale-400: #9c9f9f;
  --color-grayscale-500: #bbbfbf;
  --color-grayscale-600: #c6caca;
  --color-grayscale-700: #d2d4d4;
  --color-grayscale-800: #dddfdf;
  --color-grayscale-900: #e8eaea;
  --color-grayscale-950: #f1f2f2;
  --color-grayscale-999: #f9fafa;
  --color-grayscale-white: #f9fafa;
  --color-grayscale-black: #0c0d0d;

  --color-cobalt-50: #ffffff;
  --color-cobalt-100: #ffffff;
  --color-cobalt-200: #ffffff;
  --color-cobalt-300: #ffffff;
  --color-cobalt-400: #ffffff;
  --color-cobalt-500: #ffffff;
  --color-cobalt-600: #ffffff;
  --color-cobalt-700: #ffffff;
  --color-cobalt-800: #ffffff;
  --color-cobalt-900: #ffffff;
  --color-cobalt-950: #ffffff;
}
