[data-theme="light"] {
  --surface--neutral--page: var(--#f9fafa);
  --surface--neutral--card: var(--#f1f2f2);
  --surface--neutral--elevated: var(--#e8eaea);
  --surface--neutral--focus: var(--#dddfdf);
  --surface--neutral--disabled: var(--#d2d4d4);
  --surface--neutral--hover: var(--#f9fafa);
  --surface--neutral--inverse: var(--#252626);
  --surface--neutral--inverse-hover: var(--#3e4040);
  --surface--neutral--inverse-focus: var(--#5e6060);
  --surface--neutral--ghost: var(--#f9fafa);
  --surface--neutral--disabled-opacity: var(--#f9fafa);
  --surface--primary--default: var(--#f0f081);
  --surface--primary--hover: var(--#f5f5ab);
  --surface--primary--disabled: var(--#fcfce6);
  --surface--success--default: var(--#85edb0);
  --surface--success--disabled: var(--#e7fbef);
  --surface--success--hover: var(--#6fc593);
  --surface--warning--default: var(--#ffa970);
  --surface--warning--disabled: var(--#ffeee2);
  --surface--warning--hover: var(--#d48d5d);
  --surface--error--default: var(--#ff879f);
  --surface--error--disabled: var(--#ffe7ec);
  --surface--error--hover: var(--#e57a8f);
  --surface--tertiary--default: var(--#83e9f2);
  --surface--tertiary--disabled: var(--#e6fbfc);
  --surface--tertiary--hover: var(--#6dc2ca);
  --surface--secondary--default: var(--#f0aaf0);
  --surface--secondary--hover: var(--#c88ec8);
  --surface--secondary--disabled: var(--#fceefc);
  --surface--info--default: var(--#3a84f2);
  --surface--info--hover: var(--#306eca);
  --surface--info--disabled: var(--#d8e6fc);
  --text--neutral--display: var(--#0c0d0d);
  --text--neutral--heading: var(--#252626);
  --text--neutral--title: var(--#3e4040);
  --text--neutral--disabled: var(--#bbbfbf);
  --text--neutral--inverse: var(--#f9fafa);
  --text--neutral--subtle-inverse: var(--#f1f2f2);
  --text--neutral--body: var(--#3e4040);
  --text--primary--default: var(--#f0f081);
  --text--primary--disabled: var(--#f5f5ab);
  --text--primary--hover: var(--#d6d673);
  --text--success--default: var(--#85edb0);
  --text--success--disabled: var(--#c2f6d7);
  --text--success--hover: var(--#6fc593);
  --text--success--on-disabled: var(--#599e75);
  --text--warning--default: var(--#ffa970);
  --text--warning--disabled: var(--#ffd4b7);
  --text--warning--hover: var(--#d48d5d);
  --text--warning--on-disabled: var(--#aa714b);
  --text--error--default: var(--#ff879f);
  --text--error--disabled: var(--#ffc3cf);
  --text--error--hover: var(--#e57a8f);
  --text--tertiary--default: var(--#83e9f2);
  --text--tertiary--disabled: var(--#c1f4f8);
  --text--tertiary--hover: var(--#6dc2ca);
  --text--tertiary--on-disabled: var(--#579ba1);
  --text--secondary--default: var(--#f0aaf0);
  --text--secondary--hover: var(--#c88ec8);
  --text--secondary--disabled: var(--#f5c6f5);
  --text--info--default: var(--#3a84f2);
  --text--info--hover: var(--#306eca);
  --text--info--disabled: var(--#9cc1f8);
  --text--info--on-disabled: var(--#2758a1);
  --icon--neutral--display: var(--#0c0d0d);
  --icon--neutral--heading: var(--#252626);
  --icon--neutral--title: var(--#3e4040);
  --icon--neutral--disabled: var(--#bbbfbf);
  --icon--neutral--display-inverse: var(--#f9fafa);
  --icon--neutral--body: var(--#5e6060);
  --icon--neutral--heading-inverse: var(--#f1f2f2);
  --icon--neutral--title-inverse: var(--#e8eaea);
  --icon--primary--default: var(--#f0f081);
  --icon--primary--disabled: var(--#f5f5ab);
  --icon--primary--hover: var(--#d6d673);
  --icon--success--default: var(--#85edb0);
  --icon--success--disabled: var(--#aef3ca);
  --icon--success--hover: var(--#6fc593);
  --icon--warning--default: var(--#ffa970);
  --icon--warning--disabled: var(--#ffc6a0);
  --icon--warning--hover: var(--#d48d5d);
  --icon--error--default: var(--#ff879f);
  --icon--error--disabeld: var(--#ffc3cf);
  --icon--error--hover: var(--#e57a8f);
  --icon--tertiary--default: var(--#83e9f2);
  --icon--tertiary--disabled: var(--#c1f4f8);
  --icon--tertiary--hover: var(--#6dc2ca);
  --icon--secondary--default: var(--#f0aaf0);
  --icon--secondary--hover: var(--#c88ec8);
  --icon--secondary--disabled: var(--#f5c6f5);
  --icon--info--default: var(--#3a84f2);
  --icon--info--hover: var(--#306eca);
  --icon--info--disabled: var(--#9cc1f8);
  --border--neutral--default: var(--#dddfdf);
  --border--neutral--subtle: var(--#d2d4d4);
  --border--neutral--dark: var(--#252626);
  --border--neutral--dark-subtle: var(--#3e4040);
  --border--neutral--disabled: var(--#bbbfbf);
  --border--neutral--dark-muted: var(--#5e6060);
  --border--neutral--muted: var(--#c6caca);
  --border--neutral--inverse: var(--#f9fafa);
  --border--neutral--inverse-subtle: var(--#f1f2f2);
  --border--primary--default: var(--#f0f081);
  --border--primary--disabled: var(--#f7f7c0);
  --border--primary--hover: var(--#d6d673);
  --border--success--default: var(--#85edb0);
  --border--success--disabled: var(--#c2f6d7);
  --border--success--hover: var(--#6fc593);
  --border--warning--default: var(--#ffa970);
  --border--warning--disabled: var(--#ffd4b7);
  --border--warning--hover: var(--#d48d5d);
  --border--error--default: var(--#ff879f);
  --border--error--disabled: var(--#ffc3cf);
  --border--error--hover: var(--#e57a8f);
  --border--tertiary--default: var(--#83e9f2);
  --border--tertiary--disabled: var(--#c1f4f8);
  --border--tertiary--hover: var(--#6dc2ca);
  --border--secondary--default: var(--#f0aaf0);
  --border--secondary--disabled: var(--#f7d4f7);
  --border--secondary--hover: var(--#c88ec8);
  --border--info--default: var(--#3a84f2);
  --border--info--disabled: var(--#9cc1f8);
  --border--info--hover: var(--#306eca);
}